<%= form_for([@project, @task]) do |f| %>
  <%= render 'shared/errors', object: @project %>
  <fieldset>
    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name  %>
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description  %>
    </div>
    <div class="field form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date  %>
    </div>
    <div class="field form-group">
      <%= f.label :due_date %>
      <%= f.date_field :due_date  %>
    </div>
    <div class="field form-group">
      <%= f.label :status %>
      <%= f.select(:status, options_for_select([['Active', 1], ['Completed', 2]], 1), {}, {:class => "form-control"}) %>
    </div>
    <div class="field form-group">
      <%= f.label :user_id %>
      <%= f.select(:user_id, options_for_select(User.all.map {|u| [u.name, u.id]}), {include_blank: "Unassigned"}, {:class => "form-control"})  %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
