<div class="row">
  <div class="col-md-12">
    <h1><%= @user.name %></h1>
    <p><span class="label label-default">Email</span> <%= @user.email %></p>
    <p><span class="label label-default">Role</span> <%= get_role(@user.role) %></p>
    <p><span class="label label-default">Status</span> <%= get_status(@user.status) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td colspan="3"><%= "#{pluralize(@tasks.count, "tasks")} currently assigned" %></td>
        </tr>
        <tr>
          <td>Task</td>
          <td>Project</td>
          <td>Due Date</td>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <td>
              <%= link_to t.name, project_task_url(t.project, t) %>
            </td>
            <td>
              <%= link_to t.project.name, project_url(t.project) %>
            </td>
            <td>
              <%= get_date(t.due_date) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="btn btn-lg btn-default"><%= link_to('Edit User', edit_user_path(@user)) %></p>
    <p class="btn btn-default"><%= link_to('Back to Users', users_path) %></p>
  </div>
</div>
