<%= form_for @project do |f| %>
  <%= render 'shared/errors', object: @project %>
  <fieldset>
    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>
    </div>
    <div class="field form-group">
      <%= f.label :end_date_projected %>
      <%= f.date_field :end_date_projected %>
    </div>
    <div class="field form-group">
      <%= f.label :end_date_actual %>
      <%= f.date_field :end_date_actual %>
    </div>
    <div class="field form-group">
      <%= f.label :budget %>
      <%= f.number_field :budget %>
    </div>
    <div class="field form-group">
      <%= f.label :cost %>
      <%= f.text_field :cost %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
