<h1><%= @project.name %></h1>
<p class="btn btn-default pull-right"><%= link_to('Edit Project', edit_project_path(@project)) %></p>

<p><%= @project.description %></p>
<p><%= @project.start_date %></p>
<p><%= @project.start_date %></p>
<p><%= @project.end_date_projected %></p>
<p><%= @project.end_date_actual.to_s %></p>
<p><%= @project.budget %></p>
<p><%= @project.cost %></p>

<table class="table">
  <thead>
    <tr>
      <td colspan="3"><%= "#{pluralize(@tasks.count, "pending tasks")}" %></h3>
      </td>
    </tr>
    <tr>
      <td>Title</td>
      <td>Due Date</td>
      <td>Status</td>
      <td>Actions</td>
    </tr>
  <thead>
  <tbody>
    <% @tasks.each do |t| %><tr>
      <td><%= link_to t.name, project_task_url(@project, t) %></td>
      <td><%= t.due_date %></td>
      <!-- <td><%= (t.status == 1) ? 'Active' : 'Completed' %></td> -->
      <td><%= t.status %></td>
      <td>
        <span class="glyphicon glyphicon-eye-open"><%= link_to '', project_task_url(@project, t) %></span>
        <span class="glyphicon glyphicon-pencil"><%= link_to '', edit_project_task_url(@project, t) %></span>
        <span class="glyphicon glyphicon-trash"><%= link_to '', project_task_url, :confirm => 'Are you sure?', :method => :delete %></span>
      </td>
    </tr><% end %>
  </tbody>
</table>
<p class="btn btn-default pull-right"><%= link_to('Create a new task', new_project_task_path(@project)) %></p>

<table class="table">
  <thead>
    <tr>
      <td><%= "#{pluralize(@tasks.count, "booked resources")}" %></h3>
      </td>
    </tr>
    <tr>
      <td>Resource</td>
      <td>Time</td>
    </tr>
  <thead>
  <tbody>
    <% @resources.each do |r| %><tr>
      <td><%= link_to r.name, resource_url(r) %></td>
      <td><%= r.start_datetime %> - <%= r.end_datetime %> </td>
    </tr><% end %>
  </tbody>
</table>
<p class="btn btn-default pull-right"><%= link_to('Book new resource', new_booking_path) %></p>
<br /><br />
<p class="btn btn-default"><%= link_to('Back to Projects', projects_path) %></p>
<br /><br />
<%= month_calendar attribute: :start_date, events: @tasks do |date, tasks| %>
  <%= date %>

  <% tasks.each do |task| %>
    <div>
      <%= task.name %>
    </div>
  <% end %>
<% end %>
