<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<p><%= @project.start_date.to_s %></p>
<p><%= @project.end_date_projected.to_s %></p>
<p><%= @project.end_date_actual.to_s %></p>
<p><%= @project.budget %></p>
<p><%= @project.cost %></p>

<ul>
  <h3><%= "#{pluralize(@tasks.count, "tasks")}" %></h3>
  <% @tasks.each do |t| %>
    <li><%= link_to t.name, project_task_url(@project, t) %></li>
  <% end %>
</ul>

<p><%= link_to('Edit Project', edit_project_path(@project)) %></p>

<p><%= link_to('Create a new task', new_project_task_path(@project)) %></p>

<p><%= link_to('Back to Projects', projects_path) %></p>
