<h1><%= @project.name %></h1>

<table>
  <thead>
    <tr>
      <td><%= "#{pluralize(@tasks.count, "tasks")}" %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td>
          <%= link_to t.name, project_task_url(@project, t) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to('Create a new task', new_project_task_path(@project)) %>

<%= link_to('Back to Projects', projects_path) %>
