
<div class="row">
  <h1><%= @project.name %></h1>
  <p class="btn btn-default pull-right"><%= link_to('Edit Project', edit_project_path(@project)) %></p>

  <p><span class="label label-default">Description</span> <%= @project.description %></p>
  <p><span class="label label-default">Start Date</span> <%= @project.start_date.strftime("%m/%d/%Y") %></p>
  <p><span class="label label-default">Projected End Date</span> <%= @project.end_date_projected.strftime("%m/%d/%Y") %></p>
  <p><span class="label label-default">Actual End Date</span> <%= @project.end_date_actual.strftime("%m/%d/%Y") %></p>
  <p><span class="label label-default">Budget</span> $<%= @project.budget %></p>
  <p><span class="label label-default">Cost</span> $<%= @project.cost %></p>

  <p class="btn btn-default pull-right"><%= link_to('Back to Projects', projects_path) %></p>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <td colspan="3"><%= "#{pluralize(@tasks.count, "pending tasks")}" %></h3>
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Due Date</td>
        <td>Status</td>
        <td>Edit</td>
      </tr>
    <thead>
    <tbody>
      <% @tasks.each do |t| %><tr>
        <td><%= link_to t.name, project_task_url(@project, t) %></td>
        <td><%= t.due_date %></td>
        <td><%= (t.status === 1) ? 'Active' : 'Completed' %></td>
        <td>
          <span class="glyphicon glyphicon-eye-open"><%= link_to '', project_task_url(@project, t) %></span>
          <span class="glyphicon glyphicon-pencil"><%= link_to '', edit_project_task_url(@project, t) %></span>
          <span class="glyphicon glyphicon-trash"><%= link_to '', project_task_url, :confirm => 'Are you sure?', :method => :delete %></span>
        </td>
      </tr><% end %>
    </tbody>
  </table>
  <p class="btn btn-default pull-right"><%= link_to('Create a new task', new_project_task_path(@project)) %></p>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <td><%= "#{pluralize(@tasks.count, "booked resources")}" %></h3>
          </td>
        </tr>
        <tr>
          <td>Resource</td>
          <td>Time</td>
        </tr>
      <thead>
      <tbody>
        <% @bookings.each do |b| %><tr>
          <td><%= link_to b.resource.name, resource_url(b.resource) %></td>
          <td><%= b.start_datetime.strftime("%l:%M%P - %m/%d/%Y") %> </td>
        </tr><% end %>
      </tbody>
    </table>
    <p class="btn btn-default pull-right"><%= link_to('Book new resource', new_booking_path) %></p>
  </div>
</div>

<div class="row">
  <%= month_calendar attribute: :start_date, events: @tasks do |date, tasks| %>
    <%= date %>

    <% tasks.each do |task| %>
      <div>
        <%= task.name %>
      </div>
    <% end %>
  <% end %>
</div>
